/* Common styles */
.container {
  max-width: 100%; /* Ensures content stretches to full width */
}

/* Heading Name */
.Heading-Name {
  font-size: 30px; /* Make the text larger */
}

/* Profile Name */
.Profile-name {
  font-size: 65px;
}

/* Intro Text */
.intro {
  font-size: 20px;
}

/* Adjust padding and margins */
.education,
.education-horizontal-timeline {
  padding: 80px 0;
}

/* Round Image */
.round-image {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
}

/* Paragraphs */
p {
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  /* Adjust font sizes for smaller screens */
  .Heading-Name {
    font-size: 24px;
  }

  .Profile-name {
    font-size: 40px;
  }

  .intro {
    font-size: 16px;
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  /* Adjust padding and margins for sections */
  .education,
  .education-horizontal-timeline {
    padding: 40px 0;
  }

  /* Ensure images resize for smaller screens */
  .round-image {
    width: 150px;
    height: 150px;
  }

  /* Ensure paragraphs maintain readability */
  p {
    font-size: 14px;
  }
}
